<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="model">
    <mat-button-toggle [routerLink]="['model']" [routerLinkActive]="['active']" value="model">Model Driven Form</mat-button-toggle>
    <mat-button-toggle [routerLink]="['template']" [routerLinkActive]="['active']" value="template">Template Driven Form</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <br>
  <router-outlet></router-outlet>
</mat-card>